.example {
  position: absolute;
  top: calc(50% - 3vw);
  left: calc(50% - 10vw);
  width: 20vw;
  height: 6vw;

  > div:first-child {
    @include flex-center;
    @include full-size;
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
}